@model CMSViewModel
@{
    ViewData["Title"] = "About";
}

<div id="about" class="container-fluid">
    <a class="btn btn-primary" asp-action="EditContent" asp-controller="Dashboard" asp-route-Id="@Model.Id">Edit <i class="fa fa-pencil"></i></a>
    @Html.Raw(Model.Content)
</div>