
@{
    ViewData["Title"] = "Success";
}
<div class="jumbotron text-center">
    <p class="lead">@ViewBag.Email, Your <strong>Password </strong> has been successfully changes.</p>
    <hr>
    <p>
        Having trouble? <a href="#">Contact us</a>
    </p>
    <p class="lead">
        Please click on button to login. <a class="btn btn-primary btn-sm" asp-action="Login" role="button">Login</a>
    </p>
</div>